
.card {
  height: 175px;
  width: 175px;
  box-sizing: border-box;
  margin: 20px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  left: 5px;
}

.tablero{
  display: grid;
  grid-template-columns: auto auto auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 100px;
}

.imagenStyle{
  width: 175px;
  height: auto;
  border: 5px solid blue; 
}

div {
  backface-visibility: hidden;
  position: absolute;
  background: #3E5F8A; 
  left: -10px;
}

div.card.abierta {
  transform: rotateY(-180deg);
}
div.card.iguales {
  transform: rotateY(180deg);
}


